*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #346FC7;
}

a{
  text-decoration: none;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

body.dark-blue{
  --bg-color:#00082F;
  --text-color:#FFFFFF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E40;
}

body.dark-pink{
  --bg-color:#1F000B;
  --text-color:#FFFFFF;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}
.container {
  text-align: center;
  width: 18.75rem;
  margin: 3.75rem auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  padding: 3.7px;
  border: .25rem var(--primary-color) solid
}

h1{
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.username{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.125rem
}

ul {
  list-style: none;
  margin: 3rem 0;
}


ul li a{
  height: 3.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  text-transform: uppercase;
  font-size: .875rem;

  margin-bottom: 1rem;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer{
  font-weight: 500;
  font-size: .75rem;
  opacity: 0.6;

  transition: opacity 400ms;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--text-color);
}